/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* resize to screen size */
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(70, 70, 70);
    color: #fff;
    cursor: pointer;
    /* round the corners*/
    border-radius: 5px;
    
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
    animation: hovered 5s infinite;
  }

  @keyframes hovered {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }